doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      form(action="/" method="get")
        button(type="submit") Home  
      if currentUser 
        form(action="/logout" method="post")
          button(type="submit") Log out
        if currentUser.admin 
          form(action="/post" method="get")
            button(type="submit") Create post

      else 
        form(action="/login")
          button(type="submit") Login
    block content
