extends layout.pug
block content 
    if post 
        h1 #{post.title}
        p #{post.message}
        p This post was published #{post.publish_date}
        p This post was last edited #{post.edit_date}
